config ENABLE_FOO_BAR
	bool "Enable Foo / Bar options"
	default y
	help
	  Say Y if you want to enable foo or foobar functionality.

config FOO
	bool "Foo"
    depends on ENABLE_FOO_BAR
	help
	  foo.

config BAR
	bool "Bar"
	depends on FOO
	help
	  bar.
